@import url('./assets/fonts/index.css');

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, button, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  font-family: 'Spoqa Han Sans', sans-serif !important;
  color:#212529;
}

button {
  background: none;
}

/* 숨김 콘텐츠 */

.readable-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

/* 본문 스타일 */

html {
  font-size: 14px;
}

body {
  font-size: 1rem;
  font-family: 'Spoqa Han Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, div, button {
  font-family: 'Spoqa Han Sans', sans-serif !important;
  margin: 0;
}

