@import url('./assets/fonts/index.css');

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Spoqa Han Sans', sans-serif !important;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Spoqa Han Sans', sans-serif !important;
}

ol, ul {
  list-style-type: none;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  font-family: 'Spoqa Han Sans', sans-serif !important;
  color:#212529;
}

i {
  font-style: normal;
}
